@model List<HRPayroll_System.Models.EmployeeModel>




<h1> Contractual Employee List </h1>
<br />


<input class="btn btn-outline-secondary" type="button" value="Create Employee" onclick="@("window.location.href='" + @Url.Action("CAdd", "EmployeeList") + "'");" />

@if (Model != null)

{
    <table class="table">

        <thread>

            <tr>

                <th> ID </th>
                <th> FullName </th>
                <th> Birthday </th>
                <th> Employee Type </th>
                <th> TIN Number </th>
                <th> Absent </th>
                <th> Salary </th>
                <th> Actions </th>


            </tr>

        </thread>

        <tbody>

            @foreach (var List in Model)
            {

                @if (List.EmployeeType == "Contractual")
                {

                    <tr>
                        <td> @List.Id </td>
                        <td> @List.Fullname </td>
                        <td> @List.Birthday </td>
                        <td> @List.EmployeeType </td>
                        <td> @List.TIN </td>
                        <td> @List.Ndays </td>
                        <td> @List.OverallTotal </td>
                        <td> <a class="btn btn-outline-info" href="CEdit/@List.Id"> Edit </a></td>
                        <td> <a class="btn btn-outline-danger" href="Delete/@List.Id"> Delete </a> </td>
                        <td> <a href="CCalculator/@List.Id"> <button class="btn btn-success"> Calculate </button> </a> </td>
                    </tr>
                }
            }

        </tbody>

    </table>

}
else
{
    //Display none
}


<input class="btn btn-info" type="button" value=" < Regular" onclick="@("window.location.href='" + @Url.Action("List", "EmployeeList") + "'");" />




