<HRPayroll_System.Models.EditModel>




<h1> Regular Employee List </h1>  <br /> 


<input class="btn btn-outline-secondary" type="button" value="Create Employee" onclick="@("window.location.href='" + @Url.Action("Add", "EmployeeList") + "'");" />

    @if(Model != null)

    {
        <table class="table">

            <thread>

                 <tr>

                    <th> ID </th>
                    <th> FullName </th>
                    <th> Birthday </th>
                    <th> Employee Type </th>
                    <th> TIN Number </th>
                    <th> Absences </th>
                    <th> Tax Rate % </th>
                    <th> Overall Total</th>
                   <th> Actions </th>


                </tr>

            </thread>

            <tbody>

            @foreach(var List in Model)
            {
                
                @if(List.EmployeeType == "Regular")
                {

                    <tr>
                        <td> @List.Id </td>
                        <td> @List.Fullname </td>
                        <td> @List.Birthday </td>
                        <td> @List.EmployeeType </td>
                        <td> @List.TIN </td>
                        <td> @List.RAbsences </td> <!--For Regular Employee-->
                        <td> 12% </td>
                        <td> @List.OverallTotal </td>
                            <td> <a class="btn btn-outline-info" href="Edit/@List.Id"> Edit </a> </td>
                            <td> <a class="btn btn-outline-danger" href="Deletes/@List.Id"> Delete </a> </td>
                        <td> <a href="Calculator/@List.Id"> <button class="btn btn-success"> Calculate </button> </a> </td>   
                      
                    </tr>
                }
            }

            </tbody>

        </table>

    }else
    {
        //Display none
    }


    <input class="btn btn-info" type="button" value=" Contractual > " onclick="@("window.location.href='" + @Url.Action("CEmployees", "EmployeeList") + "'");" />




